:root{
        --primary:#64c8c5;
}
*{
	border:0px;
	padding:0px;
	margin:0px;
	font-family: 'Lato', sans-serif;
}
body{
	background-color:#64c8c5;
}
.content img{
	width:200px;
	margin-bottom:20px;
	border-radius:4px;
}
#hamenu{
        color:var(--primary);
        display:none;
}
.content{
	top:150px;
	width:1300px;
	margin:0px auto;
	padding:30px;
	box-sizing:border-box;
	position:relative;
}
.navigation{
	width:100%;
	position:fixed;
	z-index:9999999;
	top:0px;
	background-color:white;
}
.nav-top{
	width:100%;
	padding:10px;
	box-sizing:border-box;
	border-bottom:1px solid #efefef;
}
.nav-bottom{
	width:100%;
	padding:20px;
	box-sizing:border-box;
	border-bottom:1px solid #efefef;
}
.namecontainer{
	position:relative;
	width:100%;
	display:flex;
	flex-direction:column;
	margin-left:20px;
}
#slogan{
	font-size:12px;
}
.nav-container{
	width:1300px;
	margin:0px auto;
	display:grid;
	grid-template-columns:1fr 1fr;
}
.nav-container-item{
	display:flex;
}
.nav-container-item a{
	margin-right:15px;
	text-decoration:none;
	padding-bottom:5px;
	position:relative;
	height:20px;
	top:8px;
	color:#2d2d2d;
	letter-spacing:0.5px;
	font-weight:700;
	font-size:14px;
}
.nav-container-item p{
	margin-right:10px;
	color:var(--primary);
	letter-spacing:0.5px;
	font-weight:400;
	font-size:13px;
}
#osin a{
	top:0px;
	height:0px;
	letter-spacing:0px;
	font-size:13px;
	margin-right:10px;
}
.nav-container-item .fa{
	margin-right:10px;
	color:var(--primary);
	letter-spacing:0.5px;
	font-weight:400;
	font-size:13px;
}
.nav-container-item h1{
	letter-spacing:0.5px;
	font-size:16px;
	font-weight:400;
	color:#2d2d2d;
}
#nav-active{
	color:var(--primary);
	border-bottom:2px solid var(--primary);
}
.content h1{
        color:#012c61;
	font-size:20px;
	margin-bottom:20px;
}
.content p{
        color:#012c61;
        line-height:30px;
}
@media only screen and (max-width: 1343px) {
	.hero-container{
		width:100%;
		text-align:center;
	}
	.nav-container{
		width:100%;
	}
	.content-window, .content{
		width:100% !important;
		padding:50px;
		box-sizing:border-box;
	}
}
@media only screen and (max-width: 976px) {
	.nav-container{
		grid-template-columns:3fr 1fr;
	}
	.hide-container{
		display:none;
	}
	#hamenu{
		display:block;
	}
}

@media only screen and (max-width: 478px) {
	.nav-top{
		display:none;
	}
	.hero-section{
		margin-top:50px !important;
	}
	.overlay{
		top:75px !important;		
	}
}
@media only screen and (max-width: 382px) {
	#slogan{
		display:none;
	}
	#osin{
		text-align:center;
	}
}
.overlay{
	width:100%;
	background-color:#dcdcdc;
	height:350px;
	position:fixed;
	top:110px;
	right:0px;
	z-index:9999999;
	display:flex;
	justify-content:center;
	flex-direction:column;
	padding:50px;
	box-sizing:border-box;
	border-bottom:2px solid white;
}
.overlay a{
	width:100%;
	text-decoration:none;
	border-radius:3px;
	padding:10px;
	box-sizing:border-box;
	color:var(--primary);
	margin-bottom:10px;
	font-weight:700;
	background-color:white;
}
.hero-section {
    width: 100%;
    height: 350px;
    background-image: url('pim.jpg');
    background-size: cover;
    margin-top: 100px;
    display:flex;
    align-items:center;
    background-position: center;
    position: relative;
}
.hero-section::before{
	content:'';
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#0000004d;
	position:absolute;
}
.hero-container{
	width:1300px;
	margin:0px auto;
    	position: relative;
}
.hero-section h1{
	color:white;
}
.content-window{
	width:1300px;
	padding-top:50px;
	margin:0px auto;
	box-sizing:border-box;
}
.content-window p{
	color:white;
	line-height:28px;
	margin-bottom:10px;
}
.group{
    margin-top:50px;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:30px;
}
.group-child{
    border:1px solid #085a58;
    padding:30px;
    border-radius:8px;
}
